/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    background-color: rgba(246,224,181,0.6);
    color: #333;
}

a {
    text-decoration: none;
}

.vista-inicial{
    background-image: url(images/pexels-pille-kirsi-222198-1116984.jpg);
    background-color: rgba(200, 164, 138, 0.6);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0%;
}

header {
    position: sticky;
    color: white;
    padding: 10px 0;
    text-align: center;
    height: 100vh;
    margin-top: 0%;
}

header .logo{
    margin: auto;
    padding-bottom: 10px;
    width: 50%;
    background-color: rgba(102,84,94,0.8);
    border-radius: 20px;
    position: sticky;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-weight: bold;
}


.registrate {
    margin: auto;
    width: 250px;
    background-color: rgba(238,169,144,0.8);
    border-radius: 10px;
    margin-top: 300px;
}

section {
    padding: 20px;
    margin: 20px;
}

#hero {
    background-color: rgba(170,111,115,0.7);
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

#hero h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

#hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#hero button {
    padding: 10px 20px;
    background-color: rgba(238,169,144, 0.6);
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}

#about, #features, #contact {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#about h2, #features h2, #contact h2 {
    color: rgba(170,111,115);
}

.feature-item {
    background-color: rgba(238,169,144,0.5);
    padding: 15px;
    margin: 10px 0;
}

.feature-item h3 {
    color: rgba(102,84,94);
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: rgba(238,169,144,0.5);
    color: rgba(170,111,115);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #004b58;
}

footer {
    background-color: #7b4a3a;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
