/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

a {
    text-decoration: none;
}

header {
    background-color: #a257b9;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px;
}

#hero {
    background-color: #a16db1;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

#hero h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

#hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#hero button {
    padding: 10px 20px;
    background-color: #7b5992;
    border: none;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
}

#about, #features, #contact {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#about h2, #features h2, #contact h2 {
    color: #005f73;
}

.feature-item {
    background-color: #e0fbfc;
    padding: 15px;
    margin: 10px 0;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #005f73;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #004b58;
}

footer {
    background-color: #005f73;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
